#*
The Martus(tm) free, social justice documentation and
monitoring software. Copyright (C) 2001-2003, Beneficent
Technology, Inc. (Benetech).

Martus is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either
version 2 of the License, or (at your option) any later
version with the additions and exceptions described in the
accompanying Martus license file entitled "license.txt".

It is distributed WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, including warranties of fitness of purpose or
merchantability.  See the accompanying Martus License and
GPL license for more details on the required license terms
for this software.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*#
<html>
	#set ($pageTitle="Search Error ")
    <head>
     	#parse("Meta.vm")       
    </head>
    
    <body>    	
	    #set ($pageTitle="Search Error: $searchedFor")
    	#set ($pageInfo="Invalid character(s) in search string")
		#set ($showSearchForm = true)
		#parse ("ResultHeader.vm")
		#set ($errorMessage = $errorMsg)				
		
		<br/><br/><br/>
		<b>$errorTitle </b><br/><br/>
		$errorMessage

		<br/><br/><br/>
        Please see <a href='SearchTips'>search tips</a> for help and try again.
		<br/><br/><br/>

		#set ($showSearchForm = true)
		#parse ("ResultFooter.vm")
    </body>
</html>
