<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.martus.android.vitalVoices"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name="org.martus.android.vitalVoices.application.MainApplication">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <action android:name="android.intent.action.EDIT" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:mimeType="vnd.android.cursor.item/vnd.odk.form" />
                    <data android:mimeType="vnd.android.cursor.item/vnd.odk.instance" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainFormEntryActivity"/>

        <provider
            android:exported="true"
            android:name="org.odk.collect.android.provider.FormsProvider"
            android:authorities="org.odk.collect.android.provider.odk.forms" />
        <provider
            android:exported="true"
            android:name="org.odk.collect.android.provider.InstanceProvider"
            android:authorities="org.odk.collect.android.provider.odk.instances" />

        <activity
            android:name="org.odk.collect.android.activities.FormEntryActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.DrawActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.FormHierarchyActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.preferences.PreferencesActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>

    </application>
</manifest>
