.root {
  -fx-font-family: "Helvetica";
  -fx-line-height: inherit 28px;
 }

/***********/
/* Buttons */
/***********/

.button {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
		-fx-background-insets: 2px;
}

.button:hover {
		-fx-background-color: #4f9ab2;
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
		-fx-background-insets: 2px;
}

.button:pressed {
		-fx-background-color: #9bd6ea;
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
		-fx-background-insets: 2px;
}

.button-transparentMinPadding{
		-fx-background-color:transparent;
		-fx-padding: 5 5 5 5;
}

.button-transparentMinPadding:hover {
	-fx-padding: 5 5 5 5;
}

.button-transparentMinPadding:pressed {
	-fx-padding: 5 5 5 5;
}

.button-defaultcase{
		 -fx-pref-width: 260;
}

.button-defaultcase:hover {
		 -fx-pref-width: 260;
}

.button-defaultcase:pressed {
		 -fx-pref-width: 260;
}


.button_not_main_action {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: Black;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
}

.button_guided_action {
    -fx-background-color: #253342,linear-gradient(#FFFF66, #666600);
    -fx-border-radius: 5;
    -fx-text-fill: #4c5e70;
    -fx-alignment: center;
    -fx-padding: 5 35 5 35;
}

.button_guided_action:hover {
	-fx-background-color:
        linear-gradient(DarkGreen 0%, Green  50%, Green 51%, DarkGreen 100%);
	-fx-border-radius: 5;
	-fx-text-fill: White;
	-fx-alignment: center;
	-fx-font-size: 17px;
	-fx-padding: 5 35 5 35;
}

.button_guided_action:pressed {
	-fx-background-color:
        linear-gradient(DarkGreen 0%, Green  50%, Green 51%, DarkGreen 100%);
	-fx-effect: innershadow( three-pass-box , Black , 2 , 2.0 , 2, 2 );
	-fx-border-radius: 5;
	-fx-text-fill: White;
	-fx-alignment: center;
	-fx-font-size: 17px;
	-fx-padding: 5 35 5 35;
}

.button-transparentWithHover{
		-fx-background-color:transparent;
		-fx-padding: 5 5 5 5;
}

.button-transparentWithHover:hover {
		-fx-padding: 5 5 5 5;
}

.button-transparentWithHover:pressed {
		-fx-padding: 5 5 5 5;
}

.button-transparentDarkText{
		-fx-text-fill: #4F9AB2;
		-fx-background-color:transparent;
}

.button-transparentDarkText {
}

.button-transparentDarkText {
}

/************/
/* Headings */
/************/

.headingLevel1 {
	-fx-font-size: 24px;
  -fx-font-weight: bold;
	-fx-text-fill: Black;
	-fx-padding: 0 5 10 5;
}

.headingLevel2 {
  -fx-font-weight: bold;
	-fx-text-fill: #4c5e70;
	-fx-font-size: 24px;
	-fx-padding: 10 5 10 5;
}

.headingLevel3 {
  -fx-font-weight: bold;
	-fx-text-fill: #4c5e70;
	-fx-font-size: 13px;
	-fx-padding: 5 3 5 3;
}

/********/
/* Text */
/********/

.errorText {
	-fx-text-fill: #FF2819;
	-fx-alignment: center-left;
	-fx-font-size: 13px;
}

/*********/
/* Cases */
/*********/
.cases {
    -fx-background-color:  #C8C8C8;
 -fx-font-size: 15px;
}

/********/
/* Tab */
/********/
.tab-pane-cases .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-cases {
	-fx-background-color:  #C8C8C8;
}

/************/
/* ListView */
/************/


.list-view,
.list-view:focused {
    -fx-border-width: 1;
    -fx-border-color: #2c2c2c;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
 }

.list-cell:filled:selected:focused:selected {
    -fx-background-color: #4F9ab2;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #77bad0;
    -fx-text-fill: white;
}

/*************/
/* TableView */
/*************/
.table-view{
 -fx-font-size: 15px;
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #4f9ab2;
}


/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
	-fx-background-color: #77bad0;
}


